body {
  background-color: #c0c0c0;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d8e0e9a1;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  margin: 30px;
  padding: 30px;
  text-align: center;
  font-style: oblique;
  font-size: x-large;
  /* border: solid 2px #133c55; */
  box-shadow: rgba(0, 0, 0, 0.185) 2px 2px 5px 5px;
}

.booksGrid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: left;
  /* width: 1000px; */
  width: 1000px;
}

.pages {
  /* margin-top: 80px; */
  /* padding-top: 60px; */
  /* justify-self: auto; */
  /* margin-bottom: -30px; */
  font-size: large;
  font-style: normal;
  text-align: center;
}

.bookTitle {
  font-family: Georgia, serif;
  font-size: 32px;
}

.bookAuthor {
  font-size: 20px;
}

.addBook {
  margin: 20px;
  margin-left: 50px;
  font-size: xx-large;
  background-color: #d8e0e9a1;
  border-radius: 5px;
  width: 165px;
  height: 55px;
  border: solid grey;
}

.isReadBtn {
  /* background-color: crimson; */
  /* padding: 5px; */
  /* margin-top: 0px; */
  border: 0px;
  background-color: #a9bcd000;
  width: 30px;
  font-size: xx-large;
  height: 30px;
  align-self: end;

  /* justify-self: flex-end; */
  /* border-radius: 30px; */
}

.isReadBtnTrue {
  /* background-color: green; */
}

.trashBtn {
  background-color: rgba(0, 0, 0, 0);
  /* border: 5px; */
  font-size: 25px;
  font-weight: 600;
  padding: 0px;
  padding-top: 6px;
  margin: 0px;
  border: solid black 0px;
  height: 30px;
  width: 35px;
}

.bookBottomContainer {
  display: flex;
  justify-content: space-between;
}
